<div class="container mt-5">
  <% if can? :read, Rak %>
    <h2 class="mb-4 text-center text-warning">Books in this Section</h2>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <%= link_to "Back to Sections", section_index_path, class: 'btn btn-outline-success m-1' %>
    </div>
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <p><strong>Name:</strong> <%= book.name.presence || 'N/A' %></p>
              <p><strong>Author:</strong> <%= book.author.presence || 'N/A' %></p>
              <p><strong>Publication:</strong> <%= book.publication.presence || 'N/A' %></p>
              <p><strong>Genres:</strong> <%= book.genres.presence || 'N/A' %></p>
              <p><strong>Description:</strong> <%= book.description.presence || 'N/A' %></p>
              <p><strong>Can be Found Rack:</strong> <%= book.rak.try(:name).presence || 'N/A' %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <%else%>
    <%= render partial: '/shared/not_authorized'%>
  <%end%>
</div>
